<head>
  <style type="text/css">
      .axis path,
      .axis line {
          fill: none;
          stroke: black;
          shapeRendering: crispEdges;
      }

      .axis text {
          font-family: sans-serif;
          font-size: 11px;
      }

  </style>
</head>
<svg></svg>

<p class="adder">Click on this text to update the chart and and add new data.</p>
<p class="remover">Click on this text to update the chart and and remove data.</p>

<script src="js/9_bar_chart.js" type="text/javascript"></script>