<head>
  <style type="text/css">
      .axis path,
      .axis line {
          fill: none;
          stroke: black;
          shapeRendering: crispEdges;
      }

      .axis text {
          font-family: sans-serif;
          font-size: 11px;
      }

  </style>
</head>

<p>Click this to regenerate data</p>

<svg></svg>

<script src="js/9_scatterplot.js" type="text/javascript"></script>