<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <script type="text/javascript" src="js/d3.js"></script>
</head>
<body style="background-color: lightslategray">
<%= yield %>
</body>
</html>
